/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #121212;
}

a {
  color: white;
}

.header {
  background-color: #1F1F1F;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: sticky;
  width: 100%;
  z-index: 3;
  top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1F1F1F;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #BA94F8;
  text-decoration: none;
}

.header li a:hover,
.header .hamburger-menu:hover {
  background-color: #BA94F8;
}

.header nav img {
  display: block;
  font-size: 2em;
  text-decoration: none;
  float: left;
  width: 1.2em;
  height: 1.2em;
  margin-top: .3em;
  margin-left: .5em;
}

.header nav .menu {
  clear: both;
  max-height: 0;
  transition: .2s ease-out;
  
}
.header menu {
  background-color: #1F1F1F;
}

.header .menu-icon {
  cursor: pointer;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;

}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* hamburger-menu */

.header .hamburger-menu {
  display: none;
}

.header .hamburger-menu:checked ~ nav .menu {
  max-height: 240px;
}

.header .hamburger-menu:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .hamburger-menu:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
}

.header .hamburger-menu:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
}

.header .hamburger-menu:checked ~ .menu-icon:not(.steps) .nav-icon:before,
.header .hamburger-menu:checked ~ .menu-icon:not(.steps) .nav-icon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  
  .header li a {
    padding: 20px 30px;
  }

  .header nav .menu {
    clear: none;
    float: center;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

main img:first-of-type {
  width: 100%;
  height: auto;
  position:relative;
}

main h1 {
  text-align: center;
  top:0;
  margin: 0; padding: .2em;
  color:white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  float: left;
}

main li {
  color: black;
  background-color: #BA94F8;
  border-radius: .3em;
  width: 20%;
  margin-left: 8%;
  padding: .5%;
  marker: none;
  text-align: center;
}

main ul a {
  text-decoration: none;
  color: black;

}

main li:hover {
  background-color: #21213a;
  transition: .3s;

}

main li a:hover {
  color: white;
  transition: .3s;
}

h2 {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 1em;
  font-size: 30px;

}

h3 {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 1em;
  font-size: 24px;

}

main ul li a {
  scroll-behavior: smooth;
  transition: 1s;
}

p {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 1em;
  font-size: 14px;
  background-color: #1D1D1D;
  padding: 1em;
}

main table {
  position: relative;
  left: 7em;
  right: 5em;
  margin-top: 1em;
  width: auto;
  font-family: 'Nunito Sans', sans-serif;
}

main table tr th {
  padding: .5em;
  background-color: #1D1D1D;
  color: white;
  text-align: left;
}

main table tr td {
  padding: .5em;
  background-color: #1D1D1D;
  color: white;
}

details {
  border: 1px solid #aaa;
  padding: .5em .5em 0;
  margin-left: 1em;
  margin-right: 1em;
  white-space: pre-line;
  color: white;
  font-size: 16px;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
  font-size: 16px;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .1em;
}

summary:focus {
    outline: none;
}

h4 {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 1em;
  font-size: 24px;

}

h5 {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 1em;
  font-size: 18px;
  font-weight: bold;

}

main img {
  width: 100%;
  height: auto;
}

main section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

main section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

